/* Spinner.module.css */
.loader {
  border: 4px solid transparent; /* Outer border transparent */
  border-top: 4px solid #036293; /* Color for the top border */
  border-radius: 50%; /* Full circle */
  width: 60px; /* Increased diameter for visibility */
  height: 60px; /* Increased diameter for visibility */
  animation: spin 0.8s linear infinite; /* Faster spin */
  position: fixed; /* Position it relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to perfectly center */
  z-index: 10; /* Ensure it appears on top of other elements */
}

@keyframes spin {
  0% {
      transform: rotate(0deg); /* Start rotation */
  }
  100% {
      transform: rotate(360deg); /* Complete rotation */
  }
}