/* Hero Banner Wrapper */
.heroBannerWrapper {
  display: flex;
  justify-content: center;
  margin: 0 0.2rem 0 0.2rem;
  background: #f1f7ff;
  border-radius: 0 0 8px 8px;
  position: relative;
  overflow: hidden;
}

/* Hero Banner Main Section */
.heroBanner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 3rem;
  align-items: center;
  padding: 9rem 0 5rem 0;
  width: 100%;
  position: relative;
  z-index: 1; /* Ensure content is above the particles */
}



