/* Default: Mobile and tablet styles */
.businessSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem; /* Mobile and tablet padding */
  border-radius: 8px;
  margin: 0.2rem;
}

.businessContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.businessText {
  width: 100%;
  text-align: center;
}

.businessTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 8px;
  color: #081333;
}

.businessList {
  margin-top: 30px;
  padding-left: 0;
  list-style-type: none;
}

.businessListItem {
  margin-bottom: 12px;
  font-size: 1.2rem;
  position: relative;
  color: #081333;
}

.businessListItem:before {
  content: "";
  color: #081333;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
}

.ctaButton {
  background-color: #036293;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 25px;
  border-radius: 50px;
  cursor: pointer;
}

.ctaButton:hover {
  background-color: #036293; /* Slightly darker on hover */
}

.businessImageWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.businessImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.businessImageWrapper:hover .businessImage {
  transform: scale(1.05);
}

/* Medium to large tablets (600px - 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .businessSection {
    padding: 3rem;
    margin: 0.2rem;
  }

  .businessTitle {
    font-size: 2rem;
  }

  .ctaButton {
    padding: 10px 20px;
  }

  .businessImageWrapper {
    max-width: 80%;
  }
}

/* Desktop and larger screens */
@media (min-width: 1025px) {
  .businessSection {
    padding: 6rem;
  }

  .businessContainer {
    flex-direction: row; /* Switch to row layout only on larger screens */
    align-items: flex-start;
    max-width: 1200px;
    gap: 1.5rem;
  }

  .businessText {
    width: 50%;
    text-align: left;
  }

  .businessTitle {
    font-size: 2rem;
  }

  .ctaButton {
    width: auto;
    padding: 12px 24px;
  }

  .businessImageWrapper {
    max-width: 50%;
    margin-top: 6.5rem;
  }
}
