/* Base styling (applies to mobile by default) */
.container {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  margin: 0.2rem; /* Apply margin to the wrapper */
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem; /* Optional padding for spacing */
  box-sizing: border-box;
}

/* Flex container for inner content alignment */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* This ensures it takes the full width of the wrapper */
}

.textContent {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.imageContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #081333;
}

.description h2,
.description h3 {
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.description h3 {
  color: #e4087e;
}

.description p {
  margin-bottom: 0.5rem;
}

/* Section-specific spacing */
.section {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.experienceSection,
.localServicesSection {
  margin-bottom: 2rem;
}

.whyChooseSection {
  margin-top: 2rem;
}

.awardDescription {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #036293;
  color: white;
  text-align: center;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.button:hover {
  background-color: #036293;
}

/* Tablet-specific styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
  }

  .imageContent {
    flex: 0 0 600px; /* Set the width of the image container */
  }

  .image {
    max-height: 1000px;
  }

  .description h2 {
    font-size: 2rem;
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  /* Wrapper with max-width constraint */
  .wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  /* Flex container for inner content alignment */
  .homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%; /* This ensures it takes the full width of the wrapper */
  }

  .imageContent {
    flex: 0 0 400px;
  }

  .image {
    max-height: 900px;
  }

  .description h2 {
    font-size: 2.5rem;
  }

  .description p {
    font-size: 1.2rem;
  }

  .textContent {
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
}
