.headerContainer {
  padding: 40px 20px;
  background: linear-gradient(
    135deg,
    #0181b5, 
    #036293, 
    #2dade2
  ); /* Abstract gradient background */
  background-size: 200% 200%; /* Allows for a dynamic gradient effect */
  animation: gradientAnimation 10s ease infinite; /* Animation for dynamic gradient */
  color: #fff; /* Change text color to white for better contrast */
  text-align: left;
  margin-top: calc(10vh + 2rem); /* Dynamic margin based on viewport height */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.headerContent {
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
}

.headerContent h1 {
  font-size: 2.5rem; /* Heading size */
  color: #ffffff; /* White heading color */
  margin-bottom: 10px; /* Space below heading */
  margin-left: 0.6rem;
}

.headerContent p {
  font-size: 1.5rem; /* Paragraph size */
  color: rgba(255, 255, 255, 0.8); /* Semi-transparent paragraph color */
  margin-bottom: 20px; /* Space below paragraph */
  margin-left: 0.6rem;
}

.breadcrumb {
  font-size: 16px; /* Breadcrumb size */
  color: rgba(255, 255, 255, 0.7); /* Semi-transparent breadcrumb color */
  margin-left: 0.6rem;
}

.breadcrumb a {
  color: #ffffff; /* White link color */
  text-decoration: none; /* Remove underline */
}

.breadcrumb a:hover {
  text-decoration: underline; /* Underline on hover */
}

.breadcrumb span {
  color: rgba(255, 255, 255, 0.7); /* Semi-transparent span color */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .headerContainer {
    margin-top: calc(15vh + 3rem); /* Larger margin for tablets */
  }
}

/* Media queries for small devices like mobile phones */
@media (max-width: 480px) {
  .headerContainer {
    margin-top: calc(20vh + 3rem); /* Larger margin for smaller devices */
  }
}